html{
    height: 100%;
}

p.tag{
    background: blue;
    color: white;
}

p.tad{
    background: grey;
    color: white;
}

p.tas{
    background: green;
    color: white;
}

p.tah{
    background: red;
    color: white;
}

p.tar{
    background: sandybrown;
    color: black;
}

p.taw{
    background: aqua;
    color: white;

}

p.tay{
    background: whitesmoke;
    color: black;
}

p.tak{
    background: darkslategrey;
    color: white;
}

p.taz{
    background: white;
    color: blue;
}


